<h2> <%= @cat.name %> </h2>

<table>
  <tr>
    <th>Age</th>
    <th>Sex</th>
    <th>Color</th>
    <th>Description</th>
  </tr>
  <tr>
    <td> <%= @cat.age %> </td>
    <td> <%= @cat.sex %> </td>
    <td> <%= @cat.color %> </td>
    <td> <%= @cat.description %> </td>
  </tr>
</table>

  <label for="">Rental Requests</label>
  <table>
    <tr>
      <th>start date</th>
      <th>end date</th>
    </tr>
    <% @cat.rental_requests.each do |request|%>
    <tr>
      <td> <%= request.start_date %> </td>
      <td> <%= request.end_date %> </td>
      <td> <%= request.status %> </td>
      <% if request.pending? %>
        <td><form action="<%= cat_rental_request_approve_url(request) %>" method="post">
          <input type="hidden" name="_method" value="patch">
          <input type="submit" value="Approve"></form></td>
        <td><form action="<%= cat_rental_request_deny_url(request) %>" method="post">
          <input type="hidden" name="_method" value="patch">
          <input type="submit" value="Deny"></form></td>
      <% end %>
    </tr>
    <% end %>
  </table>
